.btn {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px gray;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      padding: 20px;
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  
  .effect04:hover{
  
    background-color: #31475569;
  }
  
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  .effect04::before{
    text-align: center;
    content: attr(data-sm-link-text);
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  .effect04:hover::before{
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }
  
  @media screen and (max-width: 1000px){
    .effect04::before,
    .effect04 span{
        padding: 10px;
    } 
  }

  @media screen and (max-width: 835px){
    .effect04::before,
    .effect04 span{
        padding: 5px;
    } 
  }

  @media screen and (max-width: 700px){
    .btn{
      margin-top: 50%;
      min-width: 80px;
    }
  }