.i:hover{
    color: gray;
}

.i{
    font-size: 20px;
    color: lightgray;
}
.arrows{
    margin-left: 300%;
}
@media screen and (max-width: 700px){
    
.arrows{
    margin-left: 0%;
}
.i{
    margin-top: 50%;
}
}