.container{
    background-color: #d3d3d369;
    text-align: left;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.flexText{
    height: 100%;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
}

.text{
}

.right{
    transform: translateX(20%);
}

.left{
    transform: translateX(-20%);
}

@media screen and (max-width: 700px){
    .flexText, .container{
       display: block;
    }
    .container{
        
    }
    .left{
        transform: translateX(-15%);
    }
}

