.imageHolder{
    width:160px;
    height: 160px;
    margin: auto;
}
.name{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 2% 0;
}
.wrapper{
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.upper, .lower{
    z-index: -1;
}

.upper{
    border-bottom: 2px solid lightgrey;
    transform: translateY(2500%);
}

.lower{
    border-top: 2px solid lightgrey;
    transform: translateY(-2500%);

}

.imgBg{
    display: inline-block;
    width:152px;
    height: 152px;
    border-radius: 50%;
    border: 2px solid white;
    border-top: 2px solid lightgrey;
    margin-right: 0px;
    z-index: -1;
    animation: spin 15s linear infinite;
}
.image{
    width:150px;
    height: 150px;
    border-radius: 50%;
    animation: none;
    transform: translateY(-104.7%);
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 950px){
    .image{
        width: 120px;
        height: 120px;
    }
    .imgBg{
        width: 122px;
        height: 122px;
    }
    .imageHolder{
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 750px){
    .image{
        width: 90px;
        height: 90px;
        transform: translateY(-108%);
    }
    .imgBg{
        width: 92px;
        height: 92px;
    }
    .imageHolder{
        width: 100px;
        height: 100px;
    }
    .lower{
        margin-top: 15%;
    }
    .top{
        margin-bottom: 15%;
    }
}

@media screen and (max-width: 700px){
    .image{
        width: 120px;
        height: 120px;
    }
    .imgBg{
        width: 122px;
        height: 122px;
    }
    .imageHolder{
        width: 130px;
        height: 130px;
    }
    .lower{
        margin-top: 0;
    }
}